[filter "lfs"]
  required = true
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
[user]
  name = Kavin Valli
  email = mail@kavin.me
  signingkey = BB2A0B15D1BCAD86
[core]
  editor = nvim
  autocrlf = input
	ignorecase = false
  pager = "delta"
[interactive]
  diffFilter = "delta --color-only"
[delta]
  navigate = true
[merge]
  conflictstyle = diff3
[commit]
  gpgsign = true
[pull]
  rebase = false
[http]
  sslVerify = true
[color]
  ui = auto

[color "branch"]
  current = yellow
  local = 241
  remote = green

[color "diff"]
  meta = yellow
  frag = magenta
  old = red
  new = green

[color "status"]
  added = green
  changed = yellow
  untracked = magenta
[github]
  user = kavinvalli
[merge "ours"]
  driver = true
[color "diff-highlight"]
	oldNormal = red bold
	oldHighlight = red bold 52
	newNormal = green bold
	newHighlight = green bold 22
[color "diff"]
	meta = 11
  colorMoved = default
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[alias]
  r = !GIT_NO_PAGER=1 git l -30
  co = checkout
  c = commit -m
  caa = commit -am
  aa = add --all
  s = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
  ; l = log --oneline
  l = "!. ~/.githelpers && pretty_git_log"
  last = log -1
  lg = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
  p = push
  po = push origin
  pom = push origin master
  d = diff
  ap = add -p
  pl = pull
  plo = pull origin
  plom = pull origin master
	cl = clone
  a = add
  d = diff
[init]
  defaultBranch = main
[url "git@github.com:"]
  insteadOf = https://github.com/
